/* texto */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* versiculo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IT+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* titulo */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+IT+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(location-style.css);
@import url(map-style.css);
@import url(slots-styles.css);
@import url(logo-style.css);
@import url(icons-styles.css);
@import url(images-group-styles.css);
@import url(image-style.css);
@import url(schedules-styles.css);

:root {
    --background-color: #1E1F22;
    --text-color: #eee5ff;
    --title-color: #DF0022;
    --header-color:#313338;
    --slots-color: #313338;
    --emphasis-color: #88a4f8;
    --text-font: 'Open Sans', sans-serif;
    --title-font: 'Bebas Neue', cursive;
    --verse-font: 'Playwrite IT Trad', serif;
}
body{
    padding: 0;
    margin: 0;
    background: var(--background-color);
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
}
header{
    background-color: var(--header-color);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--background-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-size: 2rem;
    color: var(--title-color);
    margin: 0;
}
.verse{
    font-family: var(--verse-font);
    font-size: 1rem;
    font-style: italic;
    color: var(--emphasis-color);
    margin: 20px;
}
p{
    font-size: 1rem;
    line-height: 1.6;
    margin: 20px;
}
ul{
    display: flex;
    flex-direction: row;
    gap:20px;
    list-style-type: none;
    padding: 0;
    justify-content: center;
  
}
li{
    display: flex;
    flex-direction: column;
}
div.container{
    margin-top: 500px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px,2fr));


}
footer{
    background-color: var(--header-color);
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--background-color);
}
